{% if template contains 'product' %}
{% assign size_options = 'size,taille' | split: ',' %}
{% assign size_chart_text_link = 'Size chart' %}
{% assign has_size = false %}
{% assign size_index = 0 %}
{% for option in product.options %}  
  {% assign downcased_option = option | downcase %}
  {% if has_size == false and size_options contains downcased_option %}
    {% assign has_size = true %}
    {% assign size_index = forloop.index0 %}
  {% endif %}
{% endfor %}
{% if has_size %}
<div id="size-chart" style="display:none" class="rte">{{ pages.size-chart.content }}</div>
<style>
.single-option-selector {
  display: inline-block;
  margin-right: 10px;
  width: auto !important;
}
#size-chart { background:white; padding:25px; text-align:center; z-index:10000 !important; }
</style>
{% endif %}
{% endif %}